<footer class="footer">
  {{> canvas}}
  <div class="container">
    <div class="row align-items-sm-center">
      <div class="col-1 d-md-none">
        <button class="btn-reset burger header__burger">
          <span class="burger__line"></span>
          <span class="burger__line"></span>
          <span class="burger__line"></span>
        </button>
      </div>
      <div class="col-md-2 col-4 offset-3 offset-md-0">
        {{> logo}}
      </div>
      <div class="col-xxl-3 col-xl-4 col-md-6 offset-md-4 offset-xxl-7 col-1 offset-3">
        <div class="header__contacts">
          <a href="mailto:hello@digital.tools" class="header__link header__email">
            <svg>
              <use xlink:href="assets/img/sprite.svg#icon-email"></use>
            </svg>
            hello@digital.tools
          </a>
          <a href="tel:84952408341" class="header__link header__phone">
            <svg>
              <use xlink:href="assets/img/sprite.svg#icon-phone"></use>
            </svg>
            8&nbsp;(495)&nbsp;240-83-41
          </a>
          <a href="tel:84952408341" class="header__link header__link_mobile">
            <svg>
              <use xlink:href="assets/img/sprite.svg#mobile-phone"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="col-xl-5 offset-xl-2 col-lg-6 col-md-10 offset-md-1">
        <p class="footer__title">Digital.Tools</p>
        <p class="footer__subtitle">Агенство интернет-маркетинга для роста вашего бизнеса</p>
        <p class="footer__subtitle">Привлекаем трафик и конверсии на сайты наших клиентов с 2004 года</p>
        <button class="btn-reset btn footer__btn">Заказать услугу</button>
        <div class="footer-nav footer__nav">
          <div class="footer-nav__wrapper">
            <p class="footer-nav__caption">Услуги</p>
            <ul class="footer-nav__list">
              <li class="footer-nav__item"><a href="" class="footer-nav__link">SEO</a></li>
              <li class="footer-nav__item"><a href="" class="footer-nav__link">SERM</a></li>
              <li class="footer-nav__item"><a href="" class="footer-nav__link">Разработка сайтов</a></li>
            </ul>
          </div>
          <div class="footer-nav__wrapper">
            <p class="footer-nav__caption">Примеры отраслевых решений</p>
            <ul class="footer-nav__list">
              <li class="footer-nav__item"><a href="" class="footer-nav__link">Финансовые услуги</a></li>
              <li class="footer-nav__item"><a href="" class="footer-nav__link">Страхование</a></li>
              <li class="footer-nav__item"><a href="" class="footer-nav__link">Девелопмент</a></li>
              <li class="footer-nav__item"><a href="" class="footer-nav__link">Медицина</a></li>
              <li class="footer-nav__item"><a href="" class="footer-nav__link">Интернет-магазин</a></li>
              <li class="footer-nav__item"><a href="" class="footer-nav__link">Телеком</a></li>
              <li class="footer-nav__item"><a href="" class="footer-nav__link">Производство</a></li>
              <li class="footer-nav__item"><a href="" class="footer-nav__link">СМИ</a></li>
              <li class="footer-nav__item"><a href="" class="footer-nav__link">Информационные порталы</a></li>
            </ul>
          </div>
          <div class="footer-nav__wrapper">
            <p class="footer-nav__caption">О нас</p>
            <ul class="footer-nav__list">
              <li class="footer-nav__item"><a href="" class="footer-nav__link">Наша команда</a></li>
              <li class="footer-nav__item"><a href="" class="footer-nav__link">Наши клиенты</a></li>
              <li class="footer-nav__item"><a href="" class="footer-nav__link">Карьера</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-5 col-md-10 offset-lg-0 offset-md-1">
        <div class="footer__round footer-contacts">
          <p class="footer-contacts__caption">Digital.Tools</p>
          <address class="footer-contacts__address">
            г. Москва, ул. Новодмитровская д.2, к.2, БЦ “Савеловский Сити”, Башня “Davis”, 9 этаж
          </address>
        </div>
      </div>
    </div>
    <div class="row footer__bottom mt-5">
      <div class="col-md-4 col-sm-6 order-1 order-sm-0 col-12">
        <p class="footer__copy">&copy; 2020 Digital.Tools <a href="">Политика конфиденциальности</a></p>
      </div>
      <div class="offset-xl-6 col-md-2 col-sm-2 offset-md-6 offset-sm-4 order-0 order-sm-0 col-12">
       {{> social}}
      </div>
    </div>
  </div>
</footer>
