<header class="header  js-header">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-1">
        {{> logo}}
      </div>
      <div class="col-xl-4 offset-xl-3">
        {{> nav}}
      </div>
      <div class="col-xl-3 offset-xl-1">
        <div class="header__contacts">
          <a href="mailto:hello@digital.tools" class="header__link header__email">
            <svg>
              <use xlink:href="assets/img/sprite.svg#icon-email"></use>
            </svg>
            hello@digital.tools
          </a>
          <a href="tel:84952408341" class="header__link header__phone">
            <svg>
              <use xlink:href="assets/img/sprite.svg#icon-phone"></use>
            </svg>
            8&nbsp;(495)&nbsp;240-83-41
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
