<!-- build:js -->
<script src="{{root}}assets/vendor/js/jquery.js"></script>
<script src="{{root}}assets/vendor/js/popper.js"></script>
<script src="{{root}}assets/vendor/js/bootstrap.js"></script>
<script src="{{root}}assets/vendor/js/owl.carousel.min.js"></script>
<!--<script src="{{root}}assets/js/util/autoPadding.js"></script>-->
<script src="{{root}}assets/js/util/crossPlatform.js"></script>
<script src="{{root}}assets/js/util/TweenLite.min.js"></script>
<script src="{{root}}assets/js/util/EasePack.min.js"></script>
<script src="{{root}}assets/js/util/canvas.js"></script>
<script src="{{root}}assets/js/util/d3.js"></script>
<script src="{{root}}assets/js/{{script}}.js"></script>
<script src="{{root}}assets/js/app.js"></script>
<!-- endbuild -->
