<ul class="social">
  <li class="social__item">
    <a href="https://www.facebook.com/digitaltoolsagency" traget="_blank" class="social__link">
      <svg width="12" height="21">
        <use xlink:href="assets/img/sprite.svg#fb-icon"></use>
      </svg>
    </a>
  </li>
  <li class="social__item">
    <a href="https://vk.com/digital.tools" traget="_blank" class="social__link">
      <svg width="21" height="21">
        <use xlink:href="assets/img/sprite.svg#vk-icon"></use>
      </svg>
    </a>
  </li>
</ul>
