.footer {
  position: relative;
  padding: 31px 0 32px;
  color: $white;
  background-color: $decor-black;
  background-image: url('../img/footer-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    background-image: url('../img/footer-map.png');
    background-repeat: no-repeat;
  }
  &__title {
    margin-top: 80px;
    font-weight: 700;
    font-size: 7.5em;
    line-height: 1.475;
  }
  &__subtitle {
    max-width: 630px;
    font-weight: 350;
    font-size: 1.25em;
    line-height: 1.45;
  }
  &__btn {
    margin-top: 93px;
    @include btnPadding(24,63,19);
  }
  &__copy {
    font-weight: 350;
    font-size: .75em;
    line-height: 1.5;
    a {
      color: $green;
      text-decoration: underline;
    }
  }
}

.footer-nav {
  margin-top: 100px;
  display: flex;
  gap: 93px;
  &__caption {
    font-weight: 800;
    font-size: .8em;
    line-height: 1.4;
    text-transform: uppercase;
  }
  &__list {
    margin-top: 20px;
  }
  &__link {
    font-weight: 350;
    line-height: .125;
    transition: color .5s ease-in-out;
    &:hover {
      color: $green;
      text-decoration: underline;
    }
  }
  &__item {
  }
}

.footer-contacts {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 110px;
  padding: 86px 56px;
  width: 330px;
  height: 330px;
  border: 1px solid $green;
  border-radius: 50%;
  box-sizing: border-box;
  background-image: url('../img/adress-bg.png');
  background-position: center;
  background-size: cover;
  filter: drop-shadow(0px 4px 120px rgba(255, 255, 255, 0.15));

  &::before,
  &::after {
    content: '';
    position: absolute;
    display: block;
    background-repeat: no-repeat;
  }
  &::before {
    left: 50%;
    bottom: -20px;
    width: 21px;
    height: 21px;
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 21C2.32843 21 3 20.3284 3 19.5C3 18.6716 2.32843 18 1.5 18C0.671573 18 0 18.6716 0 19.5C0 20.3284 0.671573 21 1.5 21Z' fill='%23009F90'/%3E%3Cpath d='M4.5 18C5.32843 18 6 17.3284 6 16.5C6 15.6716 5.32843 15 4.5 15C3.67157 15 3 15.6716 3 16.5C3 17.3284 3.67157 18 4.5 18Z' fill='%23009F90'/%3E%3Cpath d='M7.5 15C8.32843 15 9 14.3284 9 13.5C9 12.6716 8.32843 12 7.5 12C6.67157 12 6 12.6716 6 13.5C6 14.3284 6.67157 15 7.5 15Z' fill='%23009F90'/%3E%3Cpath d='M10.5 12C11.3284 12 12 11.3284 12 10.5C12 9.67157 11.3284 9 10.5 9C9.67157 9 9 9.67157 9 10.5C9 11.3284 9.67157 12 10.5 12Z' fill='%23009F90'/%3E%3Cpath d='M13.5 9C14.3284 9 15 8.32843 15 7.5C15 6.67157 14.3284 6 13.5 6C12.6716 6 12 6.67157 12 7.5C12 8.32843 12.6716 9 13.5 9Z' fill='%23009F90'/%3E%3Cpath d='M16.5 6C17.3284 6 18 5.32843 18 4.5C18 3.67157 17.3284 3 16.5 3C15.6716 3 15 3.67157 15 4.5C15 5.32843 15.6716 6 16.5 6Z' fill='%23009F90'/%3E%3Cpath d='M19.5 3C20.3284 3 21 2.32843 21 1.5C21 0.671573 20.3284 0 19.5 0C18.6716 0 18 0.671573 18 1.5C18 2.32843 18.6716 3 19.5 3Z' fill='%23009F90'/%3E%3C/svg%3E%0A");
  }
  &::after {
    left: 39%;
    bottom: -65px;
    width: 40px;
    height: 45px;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='45' viewBox='0 0 40 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_0_1868)'%3E%3Cpath d='M16.5517 7.80029C14.9886 7.80029 13.4605 8.25855 12.1608 9.11713C10.8611 9.9757 9.84807 11.196 9.24987 12.6238C8.65168 14.0515 8.49516 15.6226 8.80012 17.1383C9.10508 18.654 9.85781 20.0463 10.9631 21.139C12.0684 22.2318 13.4767 22.9759 15.0098 23.2774C16.5429 23.5789 18.1321 23.4242 19.5762 22.8328C21.0204 22.2414 22.2547 21.2399 23.1232 19.955C23.9916 18.67 24.4552 17.1593 24.4552 15.6139C24.4552 13.5416 23.6225 11.5542 22.1403 10.0889C20.6581 8.62351 18.6478 7.80029 16.5517 7.80029ZM16.5517 20.7003C15.5342 20.7003 14.5395 20.402 13.6934 19.8431C12.8473 19.2842 12.1879 18.4898 11.7985 17.5604C11.4091 16.631 11.3072 15.6083 11.5057 14.6216C11.7042 13.635 12.1942 12.7287 12.9138 12.0173C13.6333 11.306 14.55 10.8216 15.548 10.6253C16.546 10.429 17.5805 10.5298 18.5205 10.9147C19.4606 11.2997 20.2642 11.9516 20.8295 12.7881C21.3948 13.6245 21.6965 14.6079 21.6965 15.6139C21.6929 16.9606 21.1492 18.2508 20.1848 19.2017C19.2203 20.1527 17.9138 20.6867 16.5517 20.6867V20.7003Z' fill='%23009F90'/%3E%3Cpath d='M32.7862 17.0318C31.8503 17.0061 30.9222 16.8547 30.0276 16.5818V17.3591C30.0276 22.8955 26.6896 27.8182 24.2483 31.4182L23.7517 32.1409C21.3793 35.6591 18.2345 39.6 16.5379 41.55C14.9103 39.6 11.6965 35.6591 9.32412 32.1409L8.85515 31.3637C6.41377 27.7637 3.06205 22.8409 3.06205 17.3046C3.07042 15.0116 3.67724 12.7596 4.82381 10.7664C5.97038 8.77327 7.61788 7.10639 9.60692 5.92708C11.596 4.74776 13.8592 4.09594 16.1777 4.03466C18.4962 3.97338 20.7914 4.50473 22.8414 5.5773C22.9511 4.63968 23.1925 3.72176 23.5586 2.85003C21.0817 1.66733 18.341 1.12735 15.5947 1.28095C12.8484 1.43455 10.1868 2.27667 7.86064 3.72801C5.53444 5.17935 3.62015 7.19214 2.29805 9.57685C0.975941 11.9616 0.289522 14.6397 0.30343 17.3591C0.30343 23.7273 3.91722 29.0591 6.5655 32.9455L7.04826 33.6546C9.68313 37.43 12.5097 41.071 15.5172 44.5637L16.5655 45.7773L17.6138 44.5637C20.6209 41.0707 23.4475 37.4297 26.0827 33.6546L26.5655 32.9318C29.2 29.0455 32.8138 23.7273 32.8138 17.3591C32.8 17.25 32.7862 17.1409 32.7862 17.0318Z' fill='%23009F90'/%3E%3Cpath d='M33.1035 13.6364C36.9123 13.6364 40 10.5838 40 6.81818C40 3.0526 36.9123 0 33.1035 0C29.2946 0 26.2069 3.0526 26.2069 6.81818C26.2069 10.5838 29.2946 13.6364 33.1035 13.6364Z' fill='%23009F90'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_0_1868'%3E%3Crect width='40' height='45' transform='matrix(-1 0 0 1 40 0)' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  }
  &__caption {
    font-weight: 700;
    font-size: 2.5em;
    line-height: 1.4;
  }
  &__address {
    margin-top: 15px;
    padding-left: 5px;
    font-weight: 350;
    font-size: 1.125em;
    line-height: 1.45;
  }
}

